body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Rubik', sans-serif;
    /* background-color: #00a8e8; */
    /* background-color: #4361ee; */
    /* background-color: #97dffc; */
    background-color: #60a9ff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
header nav ul{
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
header nav ul li , ul{
    list-style-type: none;
    line-height: 1.5;
}
section ul{
    padding: 1em;
}
section ul li:last-child{
    /* padding: 1em 0; */
    /* border-top: 2px solid #ced4da; */
    border-bottom: 2px solid #888;
}
section ul li{
    padding: 1em 0;
    /* border-top: 2px solid #ced4da; */
    border-top: 2px solid #888;
}
a:link{
    color: #023047;
    /* color: #016ff9; */
    font-size: 1.5em;
    text-decoration: none;
}
a:visited{
    color: #023047;
    font-size: 1.5em;
    text-decoration: none;
}
a:hover{
    transition: color 400ms ease-in-out;
    color:white;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* flex: 1 2 70%; */
    /* flex-wrap: wrap; */  
    background-color: white;
    /* border: 0px solid black; */
    border-radius: 20px;
    width: 100%;
    /* height: 70vh; */
    min-height: 10vh;
    margin: 9vh auto;
    padding: 4em 2em;
    box-sizing: border-box;
    max-width: 960px;
}
#s1 img, #s2 img, #s3 img{
    height: 20vh;
    width: 15vw;
    /* object-fit: cover; */
    object-fit: contain;
}
h2{
    color: #ced4da;
    color: #888;
    letter-spacing: 1px;
}
#s1 , #s2{
    border-right: 2px solid #ced4da;
    text-align: center;
}
#s3{
    text-align: center;
}
#s1,#s2,#s3{
    align-content: top;
    padding-right: 20px;
    /* border: 1px solid black; */
    width: 30%;
    color: #016ff9;
}
#s1 a, #s2 a, #s3 a{
    padding: 10px 10px;
    margin: 10px 10px;
    border: 1px solid #9dd1ff;
    text-decoration: none;
    /* font-size: 1.2em; */
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    color: #348efe;
    transition: background-color 200ms ease-in-out;
}
section a:link{
    color: #348efe;
}
#a2{
    background-color: #016ff9;
    color: white !important;
}
section a:hover , section a:focus{
    background-color: #e1f1ff;
    /* color: blueviolet; */
}
#a2:hover , #a2:focus{
    background-color: #269aff;
}
section p{
    color: #016ff9;
    display: block;
    font-size: 32px;
    font-weight: 700;
    margin:10px;
    margin-top: 30px;
}

@media (max-width:600px){
    body{
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        font-family: 'Roboto Mono', monospace;
        font-family: 'Rubik', sans-serif;
        background-color: #60a9ff;
        text-transform: uppercase;
    }
    header nav ul{
        top: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0px;
        font-weight: 900;
    }
    header nav ul li , ul{
        list-style-type: none;
    }
    section ul{
        padding: 0.4em;
    }
    section ul li{
        padding: 0.4em;
        border-top: 2px solid #888;
    }
    a:link{
        color: #023047;
        /* color: #016ff9; */
        font-size: 0.9em;
        text-decoration: none;
    }
    a:visited{
        color: #023047;
        font-size: 0.7em;
        text-decoration: none;
    }
    a:hover{
        color:white;
    }
    
    main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;  
        background-color: white;
        border-radius: 20px;
        width: 100%;
        /* height: 70vh; */
        /* min-height: 10vh; */
        margin: 5vh 0;
        padding: 5em 0em;
        box-sizing: border-box;
        /* max-width: 960px; */
    }
    #s1 img, #s2 img, #s3 img{
        height: 20vh;
        width: 20vw;
        /* object-fit: cover; */
        object-fit: contain;
    }
    h2{
        color: #888;
        letter-spacing: 1px;
    }
    #s1,#s2,#s3{
        margin-top: 130px;
        border: none;
        text-align: center;
        /* align-content: top; */
        padding-right: 0px;
        width: 90%;
        color: #016ff9;
        border-bottom: 1px solid #e1f1ff;
    }
    #s1{
        margin-top: 20px;
    }
    #s1 a, #s2 a, #s3 a{
        padding: 15px 35px;
        margin: 25px 0px;
        border: 2px solid #016ff9;
        font-size: 1em;
        border-radius: 10px;
        box-sizing: border-box;
        color: #348efe;
        transition: background-color 200ms ease-in-out;
    }
    section a:link{
        color: #016ff9;
    }
    #a2{
        background-color: #016ff9;
        color: white;
    }
    section a:hover{
        color: blueviolet;
    }
    
}